.header {
  width: 100%;
  height: 80px;
  line-height: 80px;

  .logo {
    img {
      width: 30%;
    }
  }

  .navigation {
    ul {
      display: flex;
      gap: 30px;
      margin-bottom: -9px;

      .nav__item {
        a {
          text-decoration: none;
          color: var(--heading-color);
          font-size: 1.1rem;
          font-weight: 600;

          &:hover {
            color: inherit;
          }

          .active__link {
            color: blue !important;
          }
        }
      }
    }
  }

  .nav__right {
    display: flex;
    align-items: center;
    gap: 30px;

    .nav__btns {
      .user-box {
        display: flex;
        align-items: center;
        gap: 35px;
      }
      a {
        font-weight: 600;
      }
    }

    span.mobile__menu {
      font-size: 1.3rem;
      color: var(--heading-color);
      display: none;
    }
  }
}

.nav__item a.active__link {
  color: var(--secondary-color) !important;
}

.sticky-header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  background: #fff;
  position: sticky;
  top: 0px;
  left: 0px;
  box-shadow: 3px 3px 8px -3px #ddd;
  z-index: 999;
}

// responsive
@media only screen and (max-width: 992px) {
  .logo {
    img {
      width: 20%;
    }
  }

  .navigation {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.411);
    z-index: 999;
    display: none;

    .menu {
      position: absolute;
      top: 0;
      right: 0;
      width: calc(100% - 75%);
      height: 100%;
      background: #fff;
      flex-direction: column;
      line-height: 0.5rem;
      justify-content: center;
      z-index: 9999;
    }
  }

  .show-menu {
    display: block;
  }

  span.mobile__menu {
    display: block !important;
    cursor: pointer;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    img {
      width: 50% !important;
    }
  }

  .menu {
    width: calc(100% - 50%) !important;
  }
}
