.search__bar {
  padding: 11px 29px 10px 23px;
  border-radius: 50px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  width: max-content;
  margin-top: 50px;

  .form-group {
    span {
      font-size: 1.8rem;
      color: #ee6e6e;
    }

    h6 {
      margin-bottom: 0px;
    }

    input {
      border: none;
      font-size: 0.9rem;
      color: var(--heading-color);
      font-weight: 500;

      &:focus {
        outline: none;
      }
    }
  }

  .form-group-fast {
    border-right: 2px solid #ddd;
  }

  .search-icon i {
    font-size: 1.6rem;
    padding: 0.5rem;
    background: var(--secondary-color);
    color: #fff;
    border-radius: 10px 5px 5px;
    cursor: pointer;
  }
}

/* responsive */
@media only screen and (max-width: 992px) {
  .search__bar {
    width: 100%;

    form {
      display: flex;
      justify-content: space-between;

      .form-group {
        width: 25%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .search__bar {
    width: 100%;

    form {
      flex-wrap: wrap;
      padding: 10px 10px;
      .form-group {
        width: 25%;
        border: none;

        input {
          font-size: 0.7rem;
        }

        span i {
          font-size: 1.1rem;
        }

        h6 {
          font-size: 1rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 567px) {
  .search__bar {
    width: 100%;

    form {
      flex-wrap: wrap;
      padding: 10px 10px;
      .form-group {
        width: 100%;
        border: none;

        input {
          font-size: 0.7rem;
        }

        span i {
          font-size: 1.1rem;
        }

        h6 {
          font-size: 1rem;
        }
      }
    }
  }
}
